<div class="photo-modal-wrapper">
  <div class="photo-modal-dialog">
    <div class="modal-content">
      <div class="photo-modal-body">
        <div class="photo-img-wrapper">
          <img class="photo-img" src="http://localhost:3000/{{photo.file.url}}" alt="Photo"></div>
        <div class="right-block">
          <div class="photo-user">
            <a (click)="goToUser(photo.user)">
              <span class="photo-user-img-wrapper"><img class="photo-user-img" src="{{photo.user.image}}"
                                                        alt="User"></span>
              <span class="photo-user-name">{{photo.user.first_name }} {{ photo.user.last_name }}</span></a>
          </div>
          <div class="photo-time"><span>{{ photo.created_at | timeAgo }}</span></div>
        </div>
        <div class="right-block-bottom">
          <div class="right-block-bottom-content">
            <div class="photo-description">{{photo.description }}</div>
            <div class="media comment" *ngFor='let comment of comments'>
              <img class="d-flex mr-3 comment-user-img"
                   src="{{ comment.user.image }}"
                   alt="Photo">
              <div class="media-body">
                <h5 class="mt-0">{{ comment.user.first_name }} {{ comment.user.last_name }}
                  <small>{{ comment.created_at | date:'medium' }}</small>
                  <button [hidden]="!comment.can_delete" type="button" (click)="deleteComment(comment)"
                          class="btn btn-danger btn-sm" aria-label="Delete">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </h5>
                {{ comment.text }}
              </div>
            </div>
          </div>

          <div class="comment-add-form">
            <form (ngSubmit)="createComment(comment); commentForm.reset()" #commentForm='ngForm'>
            <textarea class="form-control" id="comment-text" required
                      name="description"
                      #description='ngModel'
                      [(ngModel)]='comment.text'
                      rows="3">
          </textarea>

              <button type="submit" class="btn btn-primary" [disabled]="!commentForm.form.valid"
                      [hidden]="submitted">></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
