<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 align-center">Create a New Album</h1>
    <p class="lead align-center">What album or Idea for an App would you like to work on?</p>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form (ngSubmit)="createAlbum(album); albumForm.reset()" #albumForm='ngForm'>
        <div class="form-group">
          <label for="album-title">
            <h3>What is your album about?
            </h3>
          </label>
          <input type="text" class="form-control" id="album-title" placeholder="e.g Build a Website"
                 required
                 name="title"
                 #title='ngModel'
                 [(ngModel)]='album.title'
          >
          <div [hidden]="title.valid ||   title.pristine"
               class="alert alert-danger">
            Name of album is required
          </div>
        </div>

        <div class="form-group">
          <label for="album-description"><h3>Describe your album</h3></label>
          <textarea class="form-control" id="album-description" required
                    name="description"
                    #description='ngModel'
                    [(ngModel)]='album.description'
                    rows="3">
          </textarea>
          <div [hidden]="description.valid || description.pristine"
               class="alert alert-danger">
            Description of your album is important.
          </div>
        </div>
        <div class="form-group">
          <label><h3>Tags of album</h3></label>
          <select2 [data]="tagsData | async" id="album-tags" [value]="selectedTags" (valueChanged)="changedTags($event)" [options]="optionsSelectTags" class="form-control" [width]="300"></select2>
        </div>


        <button type="submit" class="btn btn-primary" [disabled]="!albumForm.form.valid"
                [hidden]="submitted">
          Post Album
        </button>

        <!-- Stay hidden until submitted -->
        <div [hidden]="!submitted"
             class="alert alert-success" role="alert">
          Your Album has been successfully created. <a class="alert-link" routerLink="/albums"> View all Albums </a>
        </div>
      </form>
    </div>
  </div>
</div>
