.album-list {
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 5px;
}
.form-group select2 {
  padding: 0;
  border: none;
}
.photo-list {
  margin-top: 10px;
}
.photo-list .photo {
  text-align: center;
}
